<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Seja bem vindo!</h1>
                <p>Supere os desafios lógicos propostos!<p>
                <p>Ganhe pontos aceitando os deafios enviados pelos seus colegas.<p>
                <p>Quando errar um desafio, envie para um colega, se ele acertar você ainda ganha pontos!<p>
                <a class="btn btn-lg btn-primary " href="#/question" role="button">Iniciar &raquo;</a>
            </p>
            </div>
        </div>
    </div>
</div>