<h1><i class="fa fa-list fa-fg"></i> Notificações</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>{{question.title}}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <accordion>
                    <accordion-group  ng-repeat="notification in notifications" ng-click="read(notification)" is-open="notification.seen">
                        <accordion-heading>
                            <i class="fa fa-fg" ng-class="{'fa-circle ': !notification.seen, 'fa-circle-o': notification.seen}"></i> {{notification.subject}} ({{fromNow(notification.createdAt)}})
                        </accordion-heading>
                        <div ng-bind-html="notification.message">
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>
