<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body" style="padding-top: 0px;">
                <div class="row user-menu-container square" style="margin-top: 0px;">
                    <div class="col-md-7 user-details">
                        <div class="row coralbg white">
                            <div class="col-md-6 no-pad">
                                <div class="user-pad">
                                    <h3>Bem vindo, {{profile.fullName}}</h3>
                                    <h4 class="white"><i class="fa fa-university fa-fg"></i> Universidade Federal de Juiz de Fora (UFJF)</h4>
                                    <h4 class="white"><i class="fa fa-twitter"></i> Curso X</h4>
                                </div>
                            </div>
                            <div class="col-md-6 no-pad">
                                <div class="user-image">
                                    <img ng-src="{{profile.picture}}" class="img-responsive thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="row overview">
                            <div class="col-md-4 user-pad text-center">
                                <h3>TOTAL</h3>
                                <h4>2,784</h4>
                            </div>
                            <div class="col-md-4 user-pad text-center">
                                <h3>ÚLTIMOS 7 DIAS</h3>
                                <h4>456</h4>
                            </div>
                            <div class="col-md-4 user-pad text-center">
                                <h3>ÚLTIMAS 24 HORAS</h3>
                                <h4>4,901</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h2>Medalhas</h2>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-md-12">
                    <h2>Conquistas</h2>
                    <hr />
                </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>